.titulo {
   font-size: 2em;
   margin-bottom: 2em;
   font-weight: bold;
   padding-bottom: .2em;
   border-bottom: 3px solid #000;
}

.container__produtos {
   padding: 2em;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   background-color: #f5f5f5;
}

.lista__produtos {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.itens__produtos {
   display: flex;
   align-items: center;
   flex-flow: column;
   margin: 0 5em;
}

.titulo__produto {
   font-weight: bold;
   font-size: 1.5em;
   margin: 1em;
}

.link__produtos {
   text-decoration: none;
   color: #303030;
   display: flex;
   flex-flow: column wrap;
   align-items: center;
}

.link__produtos:hover{
   transition: .3s;
   opacity: .7;
}