.rodape {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 1em;
   text-align: center;
   background-color: #303030;
   color: #fff;
}

.rodape__lista {
   width: 50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.rodape__link {
   margin-top: 1em;
   display: flex;
   color: #fff700;
   text-decoration: none;
   align-items: center;
}

@media screen and (max-width:600px) {
   .rodape__lista {
      flex-flow: column;
   }

   .rodape__item {
      margin: 1em 0;
   }
}