.cabecalho {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #303030;
}

.navbar {
   display: flex;
   justify-content: space-between;
}

.navbar__item{
   margin: 0 1em;
   font-weight: 700;
}

@media screen and (max-width:600px) {
   .cabecalho {
      flex-flow: column;
      padding: 1em;
   }

   .navbar {
      margin-top: 2em;
   }
}