.banner__container {
   max-width: 100vw;
   height: 60vh;
   background-image: url('../../imagens/banner.jpg');
   background-blend-mode: multiply;
   background-position: center;
   background-clip: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
}

.titulo {
   font-size: 4em;
   font-weight: bold;
   color: #ffffff;
   text-align: center;
}